# Development

## Config
**/.config/*.config.*

!**/backend.config.*
!**/default.config.*
!**/docker.config.*

## Environment
**/*.env
**/*.env.*

!**/*default.env*
!**/*.env.default

!**/*example.env*
!**/*.env.example

## IDE

### Atom
**/.atom

### JetBrains
**/.idea

**/*.iml
**/*.ipr
**/*.iws

### Visual Studio Code
**/.vscode

## Hosting

### Vercel
**/.vercel

# Language Specific

## Node.js
**/.DS_STORE
**/build
**/node_modules

**/*.tsbuildinfo

### Dependencies
**/.pnp
**/.pnp.*

**/.yarn/install-state.gz

### Frameworks

#### Next.js
**/.next
**/out

**/next-env.d.ts

## Rust
**/debug/
**/release/
**/target

!**/Cargo.lock

**/*.rs.bk

# Miscellaneous
**/build
**/dist
**/out

### Logs
**/logs
**/logs/*

### Testing
**/coverage

### Temporary
**/temp/*
**/tmp/*

## File Extensions

**/*.bk
**/*.bk.*

**/*.db

**/*.log
**/*.log.*

**/*.pem

**/*.gz

**/*.sqlite

**/*.zip

## Operating Systems

### Linux

#### NixOS
!**/flake.lock!

### Windows

#### Windows Subsystem for Linux (WSL)
**/*:Zone.Identifier